<div id="user-interface" class="user-interface">
	<header id="header" class="header">
		<h1>City Generator</h1>
		<p>A prediction of height of buildings ➔ <a href="https://github.com/knt5/city-generator" target="_blank">more info</a></p>
		
		{{> userInterfaceParts/facebookLikeButton }}
	</header>
	
	<div id="map" class="map"></div>
	
	<div class="city-select-box clearfix">
		<div class="city-select-title">City :</div>
		<select id="city-select" class="city-select"></select>
	</div>
</div>
