<div id="user-interface" class="user-interface">
	<header id="header" class="header">
		<h1>City Generator</h1>
		<p>A tech demo to predict height of buildings in real time on web browser and generate 3D city ➔ <a href="https://github.com/knt5/city-generator/blob/master/README.md" target="_blank">more info</a></p>
		
		{{> userInterfaceParts/facebookLikeButton }}
	</header>
	
	<div class="data-source">Source: 国土地理院の基盤地図情報基本項目/建築物の外周線と数値標高モデルを使用。また JAXA ALOS の DSM を使用。</div>
	
	<div id="map" class="map"></div>
	
	<div class="city-select-box clearfix">
		<div class="city-select-title">City :</div>
		<select id="city-select" class="city-select"></select>
		<div class="rotation-checkbox-box">
			<label><input type="checkbox" id="rotation-checkbox">Rotation</label>
		</div>
	</div>
</div>
