# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules

# Hidden meta data file of Mac OS X
.DS_Store

# Sass cache directory
.sass-cache

# Gulp working directory
/gulp/works/

# Build assets
/*.html

### tools

# Output files
/tools/converter/*.geojson
/tools/converter/simplified/
/tools/converter/cities/
/tools/converter/meta/
/tools/converter/dem/

# GSI and JAXA data directory
/tools/data/
