@import './reset';

//=========================================================
// Box sizing

*, *::before, *::after {
	box-sizing: border-box;
}

//=========================================================
// Elements

body {
	background: #000;
	color: #fff;
	font-size: 14px;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;  // for iOS Safari
}

body, input, select, textarea, th, td {
	font-family: "Myriad Pro", "Lucida Grande", "GillSans",
		"Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
}

a {
	color: #3af;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

//=========================================================
// Clearfix

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
