.building-preview {
	display: none;  // will be removed by JS
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: .5;
	pointer-events: none;
}

//=========================================================

.building-canvas {
	// top, left, width and height are controlled by JS
	box-sizing: content-box;
	display: none;  // will be removed by JS
	position: absolute;
	border: 4px solid #fff;
	//pointer-events: none;
	pointer-events: all;
}
