.user-interface {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
}

//=========================================================
// Header

.header {
	pointer-events: none;
	padding: 8px 72px 0 14px;
	z-index: 1000;
	
	h1 {
		font-size: 30px;
		font-weight: normal;
	}
	
	p {
		font-size: 14px;
	}
	
	a {
		pointer-events: all;
	}
}

.facebook {
	margin-top: 12px;
	
	iframe {
		pointer-events: all;
	}
}

@media (max-width: 415px) {
	.header {
		padding: 6px 32px 0 8px;
	}
}

//=========================================================
// Map

$map-height: 320px;
$mobile-map-height: 100px;

.map {
	pointer-events: all;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 360px;
	height: $map-height;
	opacity: .9;
}

@media (max-width: 415px) {
	.map {
		width: 100%;
		height: $mobile-map-height;
	}
}

//=========================================================
// City select

.city-select-box {
	position: relative;
	margin: -12px 0 0 14px;
}

.city-select-title {
	float: left;
	margin-top: 4px;
}

.city-select {
	pointer-events: all;
	display: block;
	float: left;
	opacity: .9;
	margin-left: 6px;
	padding: 3px 6px;
	background: #fff;
	color: #000;
}

@media (max-width: 415px) {
	.city-select-box {
		position: absolute;
		bottom: $mobile-map-height - 30;
		margin-left: 6px;
	}
}
