<meta property="fb:app_id" content="250930348604246" />
<meta property="og:url" content="https://knt5.github.io/demo/city-generator/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="City Generator" />
<meta property="og:description" content="3D city generator with JAXA's DSM, Geospatial Information Authority of Japan's DEM and building peripheral lines" />
<meta property="og:image" content="https://knt5.github.io/assets/img/twitter/summary-large-image/city-generator.jpg" />
<meta property="og:image:width" content="560" />
<meta property="og:image:height" content="300" />
