<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@knt5">
<meta name="twitter:creator" content="@knt5">
<meta name="twitter:title" content="City Generator">
<meta name="twitter:description" content="A tech demo to predict height of buildings in real time on web browser and generate 3D city">
<meta name="twitter:image:src" content="https://knt5.github.io/assets/img/twitter/summary-large-image/city-generator.png">
