<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@knt5">
<meta name="twitter:creator" content="@knt5">
<meta name="twitter:title" content="City Generator">
<meta name="twitter:description" content="3D city generator with JAXA's DSM, Geospatial Information Authority of Japan's DEM and building peripheral lines">
<meta name="twitter:image:src" content="https://knt5.github.io/assets/img/twitter/summary-large-image/city-generator.jpg">
