<div class="facebook">
	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fknt5.github.io%2Fdemo%2Fcity-generator%2F&width=149&layout=button_count&action=like&show_faces=false&share=true&height=46&appId=250930348604246" width="149" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true"></iframe>
</div>
