@import './base/base';
@import './index/city-canvas';
@import './index/city-canvas-status';
@import './index/building-generator';
@import './index/user-interface';

.stage {
	position: relative;
	width: 100%;
}

@media (max-width: 415px) {
	.github-ribbon {
		img {
			width: 74px;
			height: 74px;
		}
	}
}
