body {
	background: #000;
}

.stage {
	position: relative;
	font-size: 10px;
}

.city-canvas {
	position: absolute;
	top: 0;
	left: 0;
}

.map {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 360px;
	height: 240px;
}
